.App {
	text-align: center;
	font-weight: bold;
}

header h1 {
	color: white;
	padding: 2%;
	font-size: 3rem;
  font-weight: bold;
  -webkit-text-stroke: 2px royalblue;
}

.card-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.btn{
  margin-bottom:1.5%;
}

/* .App{
  background-color: black;
} */
/* class="card text-white card-body bg-primary" */